@import "tailwindcss";



@theme {
  --color-primary: #3D5A80;
  --color-primary-hover: #314866;
  --color-primary-light: #EEF3F9;

  --color-secondary: #293241;
  --color-secondary-hover: #1F2835;
  --color-secondary-light: #F3F5F7;

  --color-accent: #EE6C4D;
  --color-accent-hover: #D85A3C;
  --color-accent-light: #FFF1EC;

  --color-background: #FCFCFD;
  --color-surface: #fff;
  --color-background-light: #fff;



  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Georgia", sans-serif;
  /* --font-heading: "DM Serif Display", serif; */

  --text-hero: 48px;
  --text-header: 36px;
  --text-title: 22px;
  --text-body: 16px;
  --text-small: 14px;
  --text-muted: #6B7280;
}




:root {

  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: var(--color-secondary);
}

@property --r {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}


.rotatingGradient {
  background: conic-gradient(from var(--r) at center,
      var(--color-primary) 0%,
      #99c5ff 10%,
      var(--color-primary) 20%);

  animation: rotating 3s linear infinite;
}

.rotatingGradient:hover .label {
  color: var(--color-text);
}

.rotatingGradient:hover::after {
  background: var(--color-primary-hover);
  color: var(--color-primary-hover);
  transition: background-color 0.3s ease-in-out;
}

@keyframes rotating {
  from {
    --r: 0deg;

  }

  to {
    --r: 360deg;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}